.detail {
  display: flex;
  flex-flow: column;
  font-size: 16px;
  color: #333333;
  max-width: 360px;
  margin: 48px auto;

  &__error {
    color: red;
    margin: 0;
  }

  &__loading {
    font-size: 20px;
    &.--bold {
      font-weight: bold;
    }
  }

  &__label {
    font-size: 20px;
    margin-top: 16px;
    font-weight: bold;
  }

  &__book-title,
  &__url,
  &__detail,
  &__review,
  &__reviewer {
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
    overflow-wrap: break-word;
  }

  &__link {
    margin-top: 24px;
  }
}
